<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNoQnwwy4w3rcFuhcIuq54WLNJsUzZH_M</string>
	<key>GCM_SENDER_ID</key>
	<string>356196375478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTutorial.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-tutorials-3bd7c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-tutorials-3bd7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356196375478:ios:5f635041381e20183fbf17</string>
</dict>
</plist>